# Debug value
DEBUG=True

# Django global log level
DJANGO_LOG_LEVEL=INFO

# Hosts that are allowed to access this application
ALLOWED_HOSTS=*

# Database Settings
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_HOST=localhost
DB_PORT=5432
DB_NAME=app
DB_USERNAME=postgres
DB_PASSWORD=admin
DB_METRICS=localhost

# Email Settings
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=changeme
EMAIL_HOST_PASSWORD=changeme
EMAIL_PORT=587
EMAIL_USE_TLS=True

